.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #766a4f; 
    color: rgb(176,202,16); 
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.section {
    display: flex;
    align-items: light;
    justify-content: space-between;
    padding: 20px 0;
   
}

.section:last-child {
    border: none;
}

.text-content {
    max-width: 50%;
}
.text-content img {
    max-width: 100%;
}

.text-content h1, .text-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-content p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.text-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D6E28A;
    color: rgb(114,100,73);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}


.image-content {
    max-width: 60%;
    
}

.image-content img {
    margin-right: 50px;
    width: 100%;
    border-radius: 20px; 
}

.decorative-icon {
    width: 100px;
}

.top-icon {
    top: 10%;
    left: 10%;
}

.bottom-icon {
    bottom: 10%;
    right: 10%;
}

.center-icon {
    bottom: 50%;
    right: 50%;
}
.chainik{
    transform: translate(0% , -60%);
}
.bokal{
    transform: translate(320% , 60%);
}
.typfon{
    transform: translate(50% ,-20%);
}
.jjj{
    transform: translate(38% ,-20%);
}
.ggg{
    transform: translate(50% ,-20%);
}
.atow{
    size: 6;
}